<div  class="text-center">
    <h1> <i>"Budapest, Spice of Europe"</i></h1>
    <p>Budapest, the capital of Hungary and considered by many to be the "Paris of the East,"
        is one of the most culturally important metropolises in Eastern Europe and home to numerous
        UNESCO World Heritage Sites. Although humans have lived here since the Stone Age, this 
        beautiful city only formally came into being in 1872 with the amalgamation of three previously
        independent towns - Old Buda (Óbuda), Buda, and Pest - to become the administrative,
        commercial, and industrial center of Hungary. Straddling the River Danube, Budapest is 
        famous for its thermal springs, some of which have been used for therapeutic purposes since prehistory.</p>
        

</div>
<div class="col-md-12 text-center">
                <h1 class="gray">TOP <span>ATTRACTIONS</span></h1>
            </div>
<div class="card-group">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
            <img src="../../../assets/images/1.jpg" class="card-img" alt="1.jpg">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Fisherman's Bastion</h5>
                    <p class="card-text text">Overlooking the Danube, where the fishermen's guild built their 
                        defense walls in the Middle Ages, is the impressive Fisherman's Bastion. The Neo-
                        Romanesque complex of towers, courtyards, colonnades, and walls was built between 
                        1895 and 1902. </p>
                        
                    <a href="https://www.google.hu/maps/place/Budapest,+Szenth%C3%A1roms%C3%A1g+t%C3%A9r+5,+1014/@47.5023403,19.0318939,17z/data=!3m1!4b1!4m5!3m4!1s0x4741dc189c948a0f:0x80b8738998a2bfa6!8m2!3d47.5023403!4d19.0340826"
                    target="_blank" class="card-text"><img src="../../../assets/images/pin.png"  alt="pin"><small class="text-muted">Szentháromság tér 5, Budapest</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" >
        <div class="row no-gutters">
            <div class="col-md-6">
            <img src="../../../assets/images/2.jpg" class="card-img" alt="2.jpg">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Gellért Hill</h5>
                    <p class="card-text text">On the hill's northeast slope is the Gellért Monument, a tribute to Hungary's 
                        beloved famous saint, a Benedictine monk who died in 1046 for whom the hill is named. Perched 
                        high above a man-made waterfall, it offers magnificent views over the city. </p>
                    <a href="https://www.google.hu/maps/place/Szent+Gell%C3%A9rt-szobor/@47.4882802,19.0457433,17z/data=!4m12!1m6!3m5!1s0x4741dc49ab6e5bad:0x775242a5bed40440!2sCitadella!8m2!3d47.4869897!4d19.046548!3m4!1s0x4741dc480444f519:0x9ab7b4513a6c4966!8m2!3d47.4895792!4d19.0455294"
                    target="_blank" class="card-text"><img src="../../../assets/images/pin.png"  alt="pin"><small class="text-muted">Szent Gellért Monument</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
            <img src="../../../assets/images/3.jpg" class="card-img" alt="3.jpg">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Heroes' Square and the Millennium Monument</h5>
                    <p class="card-text text">The impressive Heroes' Square (Hősök tere) was largely the work of architect 
                        Albert Schickedanz, who was also responsible for the huge Museum of Fine Arts that flanks this
                         large open space.</p>
                    <a href="https://www.google.hu/maps/place/H%C5%91s%C3%B6k+tere/@47.5149429,19.0756739,17z/data=!3m1!4b1!4m5!3m4!1s0x4741db87f9f12169:0x34417cbcba48293f!8m2!3d47.5149429!4d19.0778626"
                    target="_blank" class="card-text"><img src="../../../assets/images/pin.png"  alt="pin"><small class="text-muted">Hősök tere</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
            <img src="../../../assets/images/4.jpg" class="card-img" alt="4.jpg">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Castle Hill	</h5>
                    <p class="card-text text">Towering over the Danube, Castle Hill contains many of Budapest's most 
                        important medieval monuments and museums. The most spectacular of these impressive structures
                         is the 18th-century Buda Castle.</p>
                    <a href="https://www.google.hu/maps/place/Budav%C3%A1ri+Palota/@47.4962048,19.0373779,17z/data=!3m1!4b1!4m5!3m4!1s0x4741dc3cea360f0f:0x3dce3a5fa9012576!8m2!3d47.4962048!4d19.0395666"
                    target="_blank" class="card-text"><img src="../../../assets/images/pin.png"  alt="pin"><small class="text-muted"> Budavári Palota	</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
     <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
            <img src="../../../assets/images/5.jpg" class="card-img" alt="5.jpg">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Parliament Buildings and Crown Jewels	</h5>
                    <p class="card-text text">A highlight of a walk around Budapest's lovely pedestrian-friendly 
                        cobbled streets is the area around the country's architecturally pleasing Parliament 
                        building, and its neighbors, the Museum of Ethnography and the Ministry of Agriculture. </p>
                    <a href="https://www.google.hu/maps/place/Orsz%C3%A1gh%C3%A1z/@47.507121,19.0434803,17z/data=!3m1!4b1!4m5!3m4!1s0x4741dc1046d4a33d:0x342122b8ff8f0f6e!8m2!3d47.507121!4d19.045669"
                    target="_blank" class="card-text"><img src="../../../assets/images/pin.png"  alt="pin"><small class="text-muted"> Parlament, Kossuth Lajos tér	</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
            <img src="../../../assets/images/6.jpg" class="card-img" alt="6.jpg">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title text">St. Stephen's Basilica</h5>
                    <p class="card-text">St. Stephen's Basilica of Budapest is also a cathedral and i
                        s a popular attraction for its impressive architecture, the beauty of its interior, 
                        and the panoramic views from its dome. </p>
                    <a href="https://www.google.hu/maps/place/Szent+Istv%C3%A1n+Bazilika/@47.5008902,19.0518,17z/data=!3m1!4b1!4m5!3m4!1s0x4741c15e3aa3cdf7:0xdd42fcacae7fbccb!8m2!3d47.5008902!4d19.0539887"
                    target="_blank" class="card-text"><img src="../../../assets/images/pin.png"  alt="pin"><small class="text-muted"> Szent István Bazilika	</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>