<div class="back">
    <section id="message" class="container">
      <h1 class="text-center">Upload new motorcycle</h1>
      <form class="form" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="form-group">
          <label for="text">Your message</label>
          <input type="text" class="form-control" id="text" autocomplete="off" formControlName="text" />
        </div>
        <div class="button-holder">
            <input type="submit" class="btn btn-primary" value ="Send">
        </div>
      </form>
    </section>
</div>
    