<div class="back">
    <section id="editCar" class="container">
      <h1 class="text-center">Edit car</h1>
      <form class="form" [formGroup]="editCarForm" (ngSubmit)="editCar()">
        <div class="form-group">
          <label for="manufacturer">Manufacturer</label>
          <input type="text" class="form-control" id="manufacturer" autocomplete="off" formControlName="manufacturer" value="{{carService.car.manufacturer}}"/>
        </div>
        <div class="form-group">
          <label for="model">Model</label>
          <input type="text" class="form-control" id="model" formControlName="model" value="{{carService.car.model}}"/>
        </div>
        <div class="form-group">
          <label for="doors">Doors</label>
          <input type="text" class="form-control" id="doors" formControlName="doors" value="{{carService.car.doors}}"/>
        </div>
        <div class="form-group">
          <label for="engine">Fule type</label>
          <input type="text" class="form-control" id="engine" formControlName="engine"value="{{carService.car.engine}}"/>
        </div>
        <div class="form-group">
          <label for="ccm">Ccm</label>
          <input type="text" class="form-control" id="ccm" formControlName="ccm" value="{{carService.car.ccm}}"/>
        </div>
        <div class="form-group">
          <label for="ac" >Air conditioner</label>
          <select formControlName ="ac" id="ac" class="form-control">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
          </select>
        </div>
        <div class="button-holder">
            <input type="submit" class="btn btn-primary" value ="Edit" >
        </div>
      </form>
    </section>
</div>
    