/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-toastr/toastr.css';
body {
    background-color: #519adf;
    background-size: cover;
    background-image: url("assets/images/background.jpg");
   }