<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/cars">
            <img src="../../../assets/images/car.png" alt="car_image">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/motobikes">
            <img src="../../../assets/images/motor.png" alt="car_image">
          </a>
        </li>
        <li class="nav-item" *ngIf ="userService.isLoggedIn() && (userService.isAdmin() || userService.isCompany()) ">
          <a class="nav-link"  routerLink="/cars/upload">
           Upload car
          </a>
        </li>
        <li class="nav-item" *ngIf ="userService.isLoggedIn() && (userService.isAdmin() || userService.isCompany()) ">
          <a class="nav-link"  routerLink="/motobikes/upload">
           Upload motobike
          </a>
        </li>
        <li class="nav-item" *ngIf ="userService.isLoggedIn() && (userService.isAdmin() || userService.isCompany()) ">
            <a class="nav-link"  routerLink="/rents">
             Rents
            </a>
        <li class="nav-item" *ngIf ="userService.isLoggedIn() == false">
          <a class="nav-link"  routerLink="/users/login">
           Log in
          </a>
        </li>
         <li class="nav-item" *ngIf = "userService.isLoggedIn()">
          <a class="nav-link"  routerLink="/users/login" (click) = "userService.logout()">
           Log out
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/users/register">
          Register
          </a>
        </li>
        <li class="nav-item" *ngIf = "userService.isLoggedIn()">
          <p class="nav-link"> Hello {{userService.user.username}}</p>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>